<div class="container">
    <h1>CRUD de veículos</h1>
    <a href="#" routerLink="/veiculo/create/" class="mb-2 btn btn-success">Criar</a>
    <div *ngIf="message" class="alert alert-info alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" aria-label="Close" (click)="message = null"></button>
    </div>
    <table class="table table-striped">
        <thead>
              <tr>
                <th>ID</th>
                <th>Placa</th>
                <th>Chassi</th>
                <th>Renavam</th>
                <th>Modelo</th>
                <th>Marca</th>
                <th>Ano</th>
                <th class="centered" width="250px">Ações</th>
              </tr>
        </thead>
        <tbody>
              <tr *ngFor="let post of posts">
                <td>{{ post.id }}</td>
                <td>{{ post.placa }}</td>
                <td>{{ post.chassi }}</td>
                <td>{{ post.renavam }}</td>
                <td>{{ post.modelo }}</td>
                <td>{{ post.marca }}</td>
                <td>{{ post.ano }}</td>
                <td>
                  <a href="#" [routerLink]="['/veiculo/', post.id, 'edit']" class="btn btn-primary btn-custom">Editar</a>
                  <button type="button" (click)="deletePost(post.id)" class="btn btn-danger btn-custom">Excluir</button>
                </td>
              </tr>
        </tbody>
    </table>
 </div>